# Python
__pycache__/
*.so
*.egg-info/
*.dist-info/
.venv/
venv/
env/
pip-wheel-metadata/

# Notebooks e caches
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Editor e SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Dados (ajuste ao seu caso)
# data/market_data/
# ou, se preferir granular:
# data/**/*.parquet
# data/**/*.csv

# Segredos
.env
.env.*
